<template>
  <v-app style="background-color: #EFEBE9">
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
      color="brown"
    >
      <v-toolbar-title class="title white--text" v-text="title" />
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer
      :fixed="fixed"
      app
      color="grey lighten-2"
    >
      <v-spacer></v-spacer>
      <span>&copy; 2020 Marijo Kiš</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      clipped: false,
      fixed: false,
      title: 'Mushroom Classification'
    }
  }
}
</script>
