<template>
  <v-container fluid>
    <v-form v-model="inputValid" ref="form">
      <v-card style="border-radius: 16px" elevation="5">
        <v-card-title style="background-color: #795548"><span class="white--text font-weight-bold headline">Mushroom Information Form</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <span class="grey--text caption font-weight-thin" style="cursor: default">*all inputs are required</span>
          <v-layout row wrap class="py-4 px-5">
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.capShape" outlined label="Cap shape" color="brown" :items="capShapeItems"
                        :item-text="capShapeItems.text"
                        :item-value="capShapeItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.capSurface" outlined label="Cap surface" color="brown"
                        :items="capSurfaceItems"
                        :item-text="capSurfaceItems.text"
                        :item-value="capSurfaceItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.capColor" outlined label="Cap color" color="brown" :items="capColorItems"
                        :item-text="capColorItems.text"
                        :item-value="capColorItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.bruises" outlined label="Bruises" color="brown" :items="bruisesItems"
                        :item-text="bruisesItems.text"
                        :item-value="bruisesItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.odor" outlined label="Odor" color="brown" :items="odorItems"
                        :item-text="odorItems.text"
                        :item-value="odorItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.gillAttachment" outlined label="Gill attachment" color="brown"
                        :items="gillAttachmentItems" :item-text="gillAttachmentItems.text"
                        :item-value="gillAttachmentItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.gillSpacing" outlined label="Gill spacing" color="brown"
                        :items="gillSpacingItems" :item-text="gillSpacingItems.text"
                        :item-value="gillSpacingItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.gillSize" outlined label="Gill size" color="brown" :items="gillSizeItems"
                        :item-text="gillSizeItems.text"
                        :item-value="gillSizeItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.gillColor" outlined label="Gill color" color="brown" :items="gillColorItems"
                        :item-text="gillColorItems.text"
                        :item-value="gillColorItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.stalkShape" outlined label="Stalk shape" color="brown"
                        :items="stalkShapeItems"
                        :item-text="stalkShapeItems.text"
                        :item-value="stalkShapeItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.stalkRoot" outlined label="Stalk root" color="brown" :items="stalkRootItems"
                        :item-text="stalkRootItems.text"
                        :item-value="stalkRootItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.stalkSurfaceAboveRing" outlined label="Stalk surface above ring" color="brown"
                        :items="stalkSurfaceAboveRingItems" :item-text="stalkSurfaceAboveRingItems.text"
                        :item-value="stalkSurfaceAboveRingItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.stalkSurfaceBelowRing" outlined label="Stalk surface below ring" color="brown"
                        :items="stalkSurfaceBelowRingItems" :item-text="stalkSurfaceBelowRingItems.text"
                        :item-value="stalkSurfaceBelowRingItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.stalkColorAboveRing" outlined label="Stalk color above ring" color="brown"
                        :items="stalkColorAboveRingItems" :item-text="stalkColorAboveRingItems.text"
                        :item-value="stalkColorAboveRingItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.stalkColorBelowRing" outlined label="Stalk color below ring" color="brown"
                        :items="stalkColorBelowRingItems" :item-text="stalkColorBelowRingItems.text"
                        :item-value="stalkColorBelowRingItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.veilColor" outlined label="Veil color" color="brown" :items="veilColorItems"
                        :item-text="veilColorItems.text"
                        :item-value="veilColorItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.ringNumber" outlined label="Ring number" color="brown"
                        :items="ringNumberItems"
                        :item-text="ringNumberItems.text"
                        :item-value="ringNumberItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.ringType" outlined label="Ring type" color="brown" :items="ringTypeItems"
                        :item-text="ringTypeItems.text"
                        :item-value="ringTypeItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.sporePrintColor" outlined label="Spore print color" color="brown"
                        :items="sporePrintColorItems" :item-text="sporePrintColorItems.text"
                        :item-value="sporePrintColorItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.population" outlined label="Population" color="brown" :items="populationItems"
                        :item-text="populationItems.text"
                        :item-value="populationItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
            <v-flex xs4 mt-2 px-4>
              <v-select v-model="mushroom.habitat" outlined label="Habitat" color="brown" :items="habitatItems"
                        :item-text="habitatItems.text"
                        :item-value="habitatItems.value" :rules="[rules.required]"></v-select>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="ma-3 white--text" rounded outlined color="brown" large @click="reset">Reset</v-btn>
          <v-btn class="ma-3 white--text" rounded depressed color="brown" large @click="predict()"
                 :disabled="!inputValid">Test
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>

    <template>
      <v-dialog v-model="resultDialog" max-width="50%">
        <v-card style="border-radius: 8px">

          <v-card-title class="headline white--text font-weight-bold" style="background-color: #795548">
            This mushroom is...
          </v-card-title>

          <v-divider></v-divider>

          <v-card-text>

            <v-container v-if="res===0">
              <v-layout row wrap>
                <v-flex xs12 mt-4 style="text-align: center">
                  <v-avatar color="success" size="175">
                    <v-icon size="150" color="white">check</v-icon>
                  </v-avatar>
                </v-flex>
                <v-flex xs12 mt-2 class="headline font-weight-black" style="text-align: center">
                  <span>edible!</span>
                </v-flex>
              </v-layout>
            </v-container>

            <v-container v-else>
              <v-layout row wrap>
                <v-flex xs12 mt-4 style="text-align: center">
                  <v-avatar color="error" size="175">
                    <v-icon size="150" color="white">clear</v-icon>
                  </v-avatar>
                </v-flex>
                <v-flex xs12 mt-2 class="headline font-weight-black" style="text-align: center">
                  <span>poisonous!</span>
                </v-flex>
              </v-layout>
            </v-container>

          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>

            <v-container v-if="res===0" style="margin-top: 0px !important;; padding-top: 0px !important;">
              <v-layout row wrap>
                <v-flex xs12 mt-1 mb-1>
                  <v-icon large color="rgba(0,0,0,0.7)">emoji_people</v-icon>
                  <span class="font-italic font-weight-light">Bon Appétit!</span>
                </v-flex>
              </v-layout>
            </v-container>

            <v-container v-else style="margin-top: 0px !important;; padding-top: 0px !important;">
              <v-layout row wrap>
                <v-flex xs12 mt-1 mb-1>
                  <v-icon large color="rgba(0,0,0,0.7)">emoji_people</v-icon>
                  <span class="font-italic font-weight-light">This mushroom is edible too, but only once!</span>
                </v-flex>
              </v-layout>
            </v-container>

          </v-card-actions>
        </v-card>
      </v-dialog>
    </template>

  </v-container>
</template>


<script>
    export default {
        data() {
            return {
                inputValid: false,
                resultDialog: false,
                res: null,

                mushroom: {
                    capShape: "",
                    capSurface: "",
                    capColor: "",
                    bruises: "",
                    odor: "",
                    gillAttachment: "",
                    gillSpacing: "",
                    gillSize: "",
                    gillColor: "",
                    stalkShape: "",
                    stalkRoot: "",
                    stalkSurfaceAboveRing: "",
                    stalkSurfaceBelowRing: "",
                    stalkColorAboveRing: "",
                    stalkColorBelowRing: "",
                    veilColor: "",
                    ringNumber: "",
                    ringType: "",
                    sporePrintColor: "",
                    population: "",
                    habitat: ""
                },


                capShapeItems: [
                    {value: 0.2, text: "Bell"},
                    {value: 1, text: "Conical"},
                    {value: 0, text: "Convex"},
                    {value: 0.6, text: "Flat"},
                    {value: 0.8, text: "Knobbed"},
                    {value: 0.4, text: "Sunken"},
                ],
                capSurfaceItems: [
                    {value: 0.6666667, text: "Fibrous"},
                    {value: 1, text: "Grooves"},
                    {value: 0.33333333, text: "Scaly"},
                    {value: 0, text: "Smooth"},
                ],
                capColorItems: [
                    {value: 0, text: "Brown"},
                    {value: 0.66666667, text: "Buff"},
                    {value: 0.88888889, text: "Cinnamon"},
                    {value: 0.33333333, text: "Gray"},
                    {value: 1, text: "Green"},
                    {value: 0.55555557, text: "Pink"},
                    {value: 0.77777778, text: "Purple"},
                    {value: 0.44444444, text: "Red"},
                    {value: 0.22222222, text: "White"},
                    {value: 0.11111111, text: "Yellow"},
                ],
                bruisesItems: [
                    {value: 0, text: "Yes"},
                    {value: 1, text: "No"},
                ],
                odorItems: [
                    {value: 0.125, text: "Almond"},
                    {value: 0.25, text: "Anise"},
                    {value: 0.625, text: "Creosote"},
                    {value: 0.75, text: "Fishy"},
                    {value: 0.5, text: "Foul"},
                    {value: 1, text: "Musty"},
                    {value: 0.375, text: "None"},
                    {value: 0, text: "Pungent"},
                    {value: 0.875, text: "Spicy"},
                ],
                gillAttachmentItems: [
                    {value: 1, text: "Attached"},
                    {value: 0, text: "Free"},
                ],
                gillSpacingItems: [
                    {value: 0, text: "Close"},
                    {value: 1, text: "Crowded"},
                ],
                gillSizeItems: [
                    {value: 1, text: "Broad"},
                    {value: 0, text: "Narrow"},
                ],
                gillColorItems: [
                    {value: 0, text: "Black"},
                    {value: 0.09090909, text: "Brown"},
                    {value: 0.72727273, text: "Buff"},
                    {value: 0.45454545, text: "Chocolate"},
                    {value: 0.18181818, text: "Gray"},
                    {value: 0.81818182, text: "Green"},
                    {value: 1, text: "Orange"},
                    {value: 0.27272727, text: "Pink"},
                    {value: 0.54545454, text: "Purple"},
                    {value: 0.63636364, text: "Red"},
                    {value: 0.36363636, text: "White"},
                    {value: 0.90909091, text: "Yellow"},
                ],
                stalkShapeItems: [
                    {value: 0, text: "Enlarging"},
                    {value: 1, text: "Tapering"},
                ],
                stalkRootItems: [
                    {value: 0.5, text: "Bulbous"},
                    {value: 0.25, text: "Club"},
                    {value: 0, text: "Equal"},
                    {value: 0.75, text: "Rooted"},
                    {value: 1, text: "Missing"},
                ],
                stalkSurfaceAboveRingItems: [
                    {value: 0.33333333, text: "Fibrous"},
                    {value: 1, text: "Scaly"},
                    {value: 0.66666667, text: "Silky"},
                    {value: 0, text: "Smooth"},
                ],
                stalkSurfaceBelowRingItems: [
                    {value: 0.33333333, text: "Fibrous"},
                    {value: 0.66666667, text: "Scaly"},
                    {value: 1, text: "Silky"},
                    {value: 0, text: "Smooth"},
                ],
                stalkColorAboveRingItems: [
                    {value: 0.375, text: "Brown"},
                    {value: 0.5, text: "Buff"},
                    {value: 0.875, text: "Cinnamon"},
                    {value: 0.125, text: "Gray"},
                    {value: 0.75, text: "Orange"},
                    {value: 0.25, text: "Pink"},
                    {value: 0.625, text: "Red"},
                    {value: 0, text: "White"},
                    {value: 1, text: "Yellow"},
                ],
                stalkColorBelowRingItems: [
                    {value: 0.5, text: "Brown"},
                    {value: 0.375, text: "Buff"},
                    {value: 1, text: "Cinnamon"},
                    {value: 0.25, text: "Gray"},
                    {value: 0.875, text: "Orange"},
                    {value: 0.125, text: "Pink"},
                    {value: 0.625, text: "Red"},
                    {value: 0, text: "White"},
                    {value: 0.75, text: "Yellow"},
                ],
                veilColorItems: [
                    {value: 0.33333333, text: "Brown"},
                    {value: 0.66666667, text: "Orange"},
                    {value: 0, text: "White"},
                    {value: 1, text: "Yellow"},
                ],
                ringNumberItems: [
                    {value: 1, text: "None"},
                    {value: 0, text: "One"},
                    {value: 0.5, text: "Two"},
                ],
                ringTypeItems: [
                    {value: 0.25, text: "Evanescent"},
                    {value: 0.75, text: "Flaring"},
                    {value: 0.5, text: "Large"},
                    {value: 1, text: "None"},
                    {value: 0, text: "Pendant"},
                ],
                sporePrintColorItems: [
                    {value: 0, text: "Black"},
                    {value: 0.125, text: "Brown"},
                    {value: 1, text: "Buff"},
                    {value: 0.375, text: "Chocolate"},
                    {value: 0.625, text: "Green"},
                    {value: 0.75, text: "Orange"},
                    {value: 0.25, text: "Purple"},
                    {value: 0.5, text: "White"},
                    {value: 0.875, text: "Yellow"},
                ],
                populationItems: [
                    {value: 0.4, text: "Abundant"},
                    {value: 1, text: "Clustered"},
                    {value: 0.2, text: "Numerous"},
                    {value: 0, text: "Scattered"},
                    {value: 0.6, text: "Several"},
                    {value: 0.8, text: "Solitary"},
                ],
                habitatItems: [
                    {value: 0.16666667, text: "Grasses"},
                    {value: 1, text: "Leaves"},
                    {value: 0.33333333, text: "Meadows"},
                    {value: 0.66666667, text: "Paths"},
                    {value: 0, text: "Urban"},
                    {value: 0.83333333, text: "Waste"},
                    {value: 0.5, text: "Woods"},
                ],

                rules: {
                    required: v => {
                        if (v === "") {
                            return 'Required'
                        } else {
                            return true
                        }
                    },
                }
            }
        },

        methods: {
            async predict() {
                try {
                    let res = await this.$axios.post("http://127.0.0.1:5000/predict", this.mushroom);
                    this.res = res.data[0];
                    this.resultDialog = true;
                } catch {
                    console.log("Error")
                }
            },

            reset() {
                this.$refs.form.resetValidation()
                this.mushroom.capShape = "";
                this.mushroom.capSurface = "";
                this.mushroom.capColor = "";
                this.mushroom.bruises = "";
                this.mushroom.odor = "";
                this.mushroom.gillAttachment = "";
                this.mushroom.gillSpacing = "";
                this.mushroom.gillSize = "";
                this.mushroom.gillColor = "";
                this.mushroom.stalkShape = "";
                this.mushroom.stalkRoot = "";
                this.mushroom.stalkSurfaceAboveRing = "";
                this.mushroom.stalkSurfaceBelowRing = "";
                this.mushroom.stalkColorAboveRing = "";
                this.mushroom.stalkColorBelowRing = "";
                this.mushroom.veilColor = "";
                this.mushroom.ringNumber = "";
                this.mushroom.ringType = "";
                this.mushroom.sporePrintColor = "";
                this.mushroom.population = "";
                this.mushroom.habitat = "";
            }
        }
    }
</script>
